---
// src/components/Header.astro
import logo from '../assets/images/logo.svg'; // Import the logo SVG
// No props needed for this simple header yet
---
<header class="py-600 px-400 md:px-800">
  <div class="container mx-auto">
      {/* Use the imported logo */}
      <img src={logo.src} alt="Tech book club logo"/>
    </a>
    {/* Add navigation links here if needed in the future */}
  </div>
</header>
