---
// Header component for the Tech Book Club landing page
---
<header class="py-04">
  <div class="container">
    <div>
      <a href="/" class="flex items-center font-merriweather font-semibold">
        <img
          src="/src/assets/images/logo.svg"
          alt="Tech Book Club Logo"
          class="mr-02"
        />
      </a>
    </div>
  </div>
</header>