/* Font Face Declarations */
@font-face {
  font-family: 'Young Serif';
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Custom Properties */
:root {
  /* Colors */
  --color-rose-800: #7A284E;
  --color-rose-50: #FFF7FB;
  --color-stone-900: #312E2C;
  --color-stone-600: #5F564D;
  --color-stone-150: #E3DDD7;
  --color-stone-100: #F3E5D7;
  --color-brown-800: #854632;
  --color-white: #FFFFFF;

  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 128px;

  /* Typography */
  --font-family-primary: 'Young Serif', serif;
  --font-family-secondary: 'Outfit', sans-serif;

  --font-size-h1: 40px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-body: 16px;

  --line-height-h1: 1;
  --line-height-h2: 1;
  --line-height-body: 1.5;

  /* Breakpoints */
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1600px;
}

/* Reset & Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Improve text rendering */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: var(--font-family-secondary);
  background-color: var(--color-stone-100);
  color: var(--color-stone-900);
  line-height: var(--line-height-body);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove underline on links */
a {
  text-decoration: none;
  color: inherit;
}

/* Make sure textarea only resizes vertically */
textarea {
  resize: vertical;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Mobile First*/

/* Recipe Styles */
.recipe__card {
  display: flex;
  width: 100%;
  padding: var(--spacing-xxl) var(--spacing-xl);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-xl);
  align-self: stretch;
  background: var(--color-white);
}

.recipe__image {   
  width: 100%;
  align-self: stretch;
  height: 171px;
}

@media (min-width: 768px) {
  body {
   display: flex;
   width: 100%;
   padding: var(--spacing-4xl) var(--spacing-3xl);
   justify-content: center;
   align-items: center;
   gap: var(--spacing-xs);
   background: var(--color-stone-100);
  }
  
  .recipe__card {
    display: flex;    
    padding: var(--spacing-xxl);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xxl);
    flex: 1 0 0;
    border-radius: var(--spacing-lg);
    background: var(--color-white);
  }
}
@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-4xl) var(--spacing-3xl);
    background: var(--color-stone-100);
  }

  .recipe__card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    background-color: var(--color-white);
    border-radius: var(--spacing-sm);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: var(--spacing-xl);
  }
}