/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts//young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/
:root {
    /* Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);

    /* Typography */
    --ff-young-serif: 'Young Serif', serif;
    --ff-outfit: 'Outfit', sans-serif;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fs-paragraph: 16px;

    /* Spacing */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    --spacing-xxl: 128px;
}

/*------------------------------------*\
  #RESET
\*------------------------------------*/
/* Normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}
/* Example of a basic reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

input, button, textarea, select {
    font: inherit;
}

/*------------------------------------*\
  #MOBILE FIRST
\*------------------------------------*/
/* General Styles */
body {
    font-family: var(--ff-outfit);
    font-size: var(--fs-paragraph);
    background-color: var(--clr-stone-150);
    color: var(--clr-stone-900);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header,
footer,
main {
    display: block;
    width: 100%;
}

/* Recipe Card */
.recipe {
    background-color: var(--clr-white);
    padding: var(--spacing-md);
    margin: var(--spacing-lg) auto;
    border-radius: var(--spacing-xs);
    max-width: 700px;
}

.recipe__image-container {
    margin-bottom: var(--spacing-md);
}

.recipe__image {
    width: 100%;
    height: auto;
    border-radius: var(--spacing-xs);
}

.recipe__title {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-regular);
    color: var(--clr-stone-900);
    margin-bottom: var(--spacing-sm);
}

.recipe__description {
    margin-bottom: var(--spacing-md);
}

.recipe__prep-time {
    background-color: var(--clr-rose-50);
    padding: var(--spacing-md);
    border-radius: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
}

.recipe__prep-time-title {
    color: var(--clr-rose-800);
    font-weight: var(--fw-semibold);
    margin-bottom: var(--spacing-xs);
    text-align: center;
}

.recipe__prep-time-list {
    list-style-type: disc;
    margin-bottom: 0;
    padding-left: 2em;
}

.recipe__prep-time-item {
    margin-bottom: var(--spacing-xs);
}

.recipe__section-title {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-regular);
    color: var(--clr-brown-800);
    margin-bottom: var(--spacing-xs);
}

.recipe__ingredients-list,
.recipe__instructions-list {
    list-style-position: inside;
    margin-bottom: var(--spacing-md);
}

.recipe__ingredients-list li,
.recipe__instructions-list li {
    padding-left: var(--spacing-md);
    margin-bottom: var(--spacing-xs);
}

.recipe__instructions-list {
    list-style-type: decimal;
}

.recipe__divider {
    border: none;
    border-top: 1px solid var(--clr-stone-100);
    margin-bottom: var(--spacing-md);
}

.recipe__nutrition-description {
    margin-bottom: var(--spacing-md);
}

.recipe__nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.recipe__nutrition-row {
    border-bottom: 1px solid var(--clr-stone-100);
}

.recipe__nutrition-item,
.recipe__nutrition-value {
    padding: var(--spacing-xs);
}

.recipe__nutrition-item {
    text-align: left;
    font-weight: var(--fw-semibold);
}

.recipe__nutrition-value {
    text-align: right;
    color: var(--clr-brown-800);
    font-weight: var(--fw-bold);
}

/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

/* Tablet Styles */
@media (min-width: 768px) {
    body{
        padding: var(--spacing-xl);
        align-items: center;
        justify-content: center;
    }
    .recipe {
        padding: var(--spacing-lg);
        margin: var(--spacing-lg) auto;
    }
}

/* Desktop Styles */
@media (min-width: 1440px) {
    body {
        padding: var(--spacing-xxl) var(--spacing-xl);
        justify-content: center;
    }

    .recipe {
        padding: var(--spacing-lg);
        margin: var(--spacing-lg) auto;
        max-width: 736px; /* Adjust as needed */
    }
}