// Spacing Mixins
@mixin spacing($size) {
    @if map-has-key($spacing-map, $size) {
      margin-bottom: map-get($spacing-map, $size);
    } @else {
      @error "Invalid spacing size: #{$size}.";
    }
  }
  
  // Breakpoint Mixins
  @mixin breakpoint($size) {
    @if $size == mobile {
      @media (min-width: $breakpoint-mobile) { @content; }
    } @else if $size == tablet {
      @media (min-width: $breakpoint-tablet) {
        background: var(--color-stone-100, #F3E5D7);
        @content;
      }
    } @else if $size == desktop {
      @media (min-width: $breakpoint-desktop) {
        background: var(--color-stone-100, #F3E5D7);
        @content;
      }
    }
  }