body {
    font-family: $font-family-sans;
    color: $color-stone-900;
    font-size: $font-size-body;
    line-height: 150%;
  }
  
  h1 {
    font-family: $font-family-serif;
    font-size: $font-size-h1-mobile; // Use the mobile-specific font size
    line-height: 100%; // (or you can use a mixin for line-height, see below)
    letter-spacing: 0px;
    font-weight: $font-weight-regular; // 400
    color: $color-stone-900;
    @include line-height(100%);
  
    @include breakpoint(tablet) {
      font-size: $font-size-h1; // Use a different font size for larger screens, if needed
    }
  }
  
  h2 {
    font-family: $font-family-sans;
    font-size: $font-size-h2;
    font-weight: $font-weight-semibold;
    line-height: 100%;
    letter-spacing: 0px;
    color: $color-brown-800;
  }
  
  p {
      line-height: 150%;
      letter-spacing: 0px;
      font-weight: $font-weight-regular;
      font-size: $font-size-body;
      color: $color-stone-900;
  }
  
  strong {
      font-weight: $font-weight-bold;
  }