@import "/css/normalize.css";
@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

body {
  font-family: "Outfit", sans-serif;
  color: #312E2C;
  font-size: 16px;
  line-height: 150%;
}

h1 {
  font-family: "Young Serif", serif;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  font-weight: 400;
  color: #312E2C;
  line-height: 100%;
}
@media (min-width: 768px) {
  h1 {
    background: var(--color-stone-100, #F3E5D7);
    font-size: 40px;
  }
}

h2 {
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  color: #854A32;
}

p {
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 16px;
  color: #312E2C;
}

strong {
  font-weight: 700;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--spacing-300);
}
@media (min-width: 768px) {
  .container {
    background: var(--color-stone-100, #F3E5D7);
    padding: var(--spacing-1600) var(--spacing-600);
  }
}
@media (min-width: 1440px) {
  .container {
    background: var(--color-stone-100, #F3E5D7);
    padding: var(--spacing-1600) var(--spacing-600);
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: flex-start;
  background: var(--color-white, #FFF);
}
@media (min-width: 768px) {
  body {
    background: var(--color-stone-100, #F3E5D7);
    display: flex;
    width: 768px;
    padding: var(--spacing-1600, 128px) var(--spacing-600, 48px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    background: var(--color-stone-100, #F3E5D7);
  }
}
@media (min-width: 1440px) {
  body {
    background: var(--color-stone-100, #F3E5D7);
    align-items: center;
    display: flex;
    width: 1440px;
    padding: var(--spacing-1600, 128px) var(--spacing-600, 48px);
    justify-content: center;
    gap: var(--spacing-100, 8px);
    background: var(--color-stone-100, #F3E5D7);
  }
}

.recipe__header {
  margin-bottom: 128px;
}
.recipe__image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 48px;
}
.recipe__title {
  margin-bottom: 24px;
}
.recipe__description {
  margin-bottom: 48px;
}
.recipe__prep-time {
  background-color: #FFF7FB;
  padding: 20px;
  margin-bottom: 128px;
}
.recipe__prep-time h2 {
  margin-bottom: 24px;
}
.recipe__prep-time ul {
  list-style: disc;
  margin-left: 40px;
  padding-left: 0;
  margin-bottom: 24px;
}
.recipe__prep-time li {
  margin-bottom: 12px;
  font-size: 16px;
}
.recipe__ingredients, .recipe__instructions, .recipe__nutrition {
  margin-bottom: 128px;
}
.recipe__ingredients h2, .recipe__instructions h2, .recipe__nutrition h2 {
  margin-bottom: 24px;
}
.recipe__ingredients ul, .recipe__instructions ol {
  list-style: disc;
  margin-left: 40px;
  padding-left: 0;
  margin-bottom: 24px;
}
.recipe__ingredients ul li, .recipe__instructions ol li {
  margin-bottom: 12px;
  font-size: 16px;
}
.recipe__instructions ol {
  list-style: decimal;
}
.recipe__nutrition table {
  width: 100%;
  border-collapse: collapse;
}
.recipe__nutrition table caption {
  margin-bottom: 24px;
  text-align: left;
  font-size: 16px;
}
.recipe__nutrition th, .recipe__nutrition td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #E3DDD7;
  font-size: 16px;
}
.recipe__nutrition th {
  color: #5F564D;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */