@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  font-family: v.$font-family-primary;
  font-weight: v.$font-weight-medium;
  color: v.$color-grey-900;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: v.$font-weight-bold;
}

p {
  max-width: 65ch;
}

.card {
  &__title {
    font-size: v.$font-size-title;
    line-height: v.$line-height-title;
    letter-spacing: v.$letter-spacing-title;
    font-weight: v.$font-weight-bold;
    color: v.$color-grey-900;
    margin-bottom: v.$spacing-200;
  }

  &__paragraph {
    font-size: v.$font-size-body;
    line-height: v.$line-height-body;
    letter-spacing: v.$letter-spacing-body;
    font-weight: v.$font-weight-medium;
    color: v.$color-grey-500;
    margin-bottom: v.$spacing-300;
  }
}

.user-info {
  &__name {
    font-size: v.$font-size-body;
    line-height: v.$line-height-body;
    letter-spacing: v.$letter-spacing-body;
    font-weight: v.$font-weight-bold;
    color: v.$color-grey-900;
    display: block;
  }

  &__date {
    font-size: v.$font-size-body;
    line-height: v.$line-height-body;
    letter-spacing: v.$letter-spacing-body;
    font-weight: v.$font-weight-medium;
    color: v.$color-grey-500;
    display: block;
  }
}

.share-popup {
  &__text {
    text-transform: uppercase;
    font-size: v.$font-size-body;
    letter-spacing: v.$letter-spacing-share;
    font-weight: v.$font-weight-medium;
    color: v.$color-grey-400;
  }
}