---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
// Removed Header import
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import ClubInfo from '../components/ClubInfo.astro';
import Journey from '../components/Journey.astro';
import Membership from '../components/Membership.astro';
import Testimonial from '../components/Testimonial.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Tech Book Club - Join Us">
  {/* Removed Header component */}
  <main>
    <Hero />
    <Features />
    <ClubInfo />
    <Journey />
    <Membership />
    <Testimonial />
    <CallToAction />
  </main>
  <Footer />
</Layout>
