---
interface Props {
  class?: string;
  variant?: 'primary' | 'secondary';
}

const { 
  class: className,
  variant = 'primary'
} = Astro.props;

const variants = {
  primary: 'bg-neutral-0 border-2 border-neutral-900',
  secondary: 'bg-salmon-50',
};
---

<div class:list={[
  'rounded-lg p-3 md:p-4 lg:p-6',
  variants[variant],
  className
]}>
  <slot />
</div>