@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

:root {
  --container-padding: 1rem;
  
  @include m.respond-to(tablet) {
    --container-padding: 2rem;
  }
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-grey-200;
  padding: v.$spacing-200;
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--card-max-width);
  margin: 0 auto;
  
  @include m.respond-to(tablet) {
    padding: 0;
  }
}