@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  padding-top: $spacing-1000; // 80px
  padding-bottom: 0;

  @include respond-to(tablet) {
    padding-top: $spacing-600; // 48px
  }

  @include respond-to(mobile) {
    padding-top: $spacing-600; // 48px
  }

  .container {
    @include container;
  }

  .logo {
    @include flex-center;
    
    img {
      height: 28px;
      width: auto;
    }
  }
}