@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  padding-block-start: calc($spacing-600 + 3.5625rem); // Add extra space for the elevated image
  padding-block-end: 0;

  @include break-up(md) {
    padding-block-start: calc($spacing-800 + 3.5625rem); // 64px tablet
  }

  @include break-up(lg) {
    padding-block-start: calc($spacing-1000 + 3.5625rem); // 80px desktop
  }

  .container {
    @include container;
  }

  .logo {
    @include flex-center;
    
    img {
      height: 1.75rem; // 28px
      width: auto;
    }
  }
}