section {
    padding: spacing(400) 0;
    border-bottom: 1px solid $stone-150;
  
    @include media-breakpoint-up(desktop){
      padding: spacing(500) 0;
    }
  
    &:last-child {
      border-bottom: none;
    }
  
    h2 {
      font-family: $font-family-serif;
      font-size: $font-size-h2-mobile;
      line-height: $line-height-heading;
      color: $brown-800;
      margin-bottom: spacing(300);
      @include media-breakpoint-up(tablet) {
          font-size: $font-size-h2;
      }
    }
  
    ul, ol {
      padding-left: spacing(500);
      margin-bottom: spacing(300);
      @include media-breakpoint-up(desktop){
          margin-bottom: spacing(400);
      }
  
      li {
        padding-left: spacing(200);
        margin-bottom: spacing(100);
        @include media-breakpoint-up(desktop){
          margin-bottom: spacing(150);
        }
  
        &::marker {
          color: $brown-800;
        }
  
        strong {
          font-weight: bold;
        }
      }
    }
    ol{
      li{
          &::marker{
              font-weight: bold;
          }
      }
    }
  
    &:nth-child(2){
      background-color: $rose-50;
      padding: spacing(400);
  
      @include media-breakpoint-up(desktop){
          padding: spacing(500);
        }
      ul{
          padding-left: spacing(300);
      }
    }
  }  