table {
    width: 100%;
    border-collapse: collapse;
    margin-top: spacing(400);
  
    td {
      padding: spacing(100);
      border-bottom: 1px solid $stone-150;
      @include media-breakpoint-up(desktop){
          padding: spacing(150);
        }
  
      &:first-child {
        width: 40%;
        color: $stone-600;
      }
  
      &:last-child {
        font-weight: bold;
        color: $brown-800;
      }
    }
  }