:root {
  /* Colors */
  --clr-cyan-600: #4D96A9;
  --clr-cyan-300: #9FE3F9;
  --clr-purple-600: #855FB1;
  --clr-purple-300: #D9B8FF;
  --clr-slate-900: #28283D;
  --clr-slate-600: #87879D;
  --clr-slate-300: #D1D1DF;
  --clr-white: #FAFAFA;

  /* Typography */
  --ff-primary: 'Red Hat Display', sans-serif;
  
  /* Font weights */
  --fw-medium: 500;
  --fw-black: 900;

  /* Font sizes */
  --fs-900: 64px;
  --fs-800: 40px;
  --fs-700: 18px;
  --fs-600: 16px;

  /* Line heights */
  --lh-tight: 110%;
  --lh-normal: 150%;
  --lh-loose: 170%;

  /* Letter spacing */
  --ls-wide: 4px;
  
  /* Spacing */
  --space-1400: 112px;
  --space-1000: 80px;
  --space-900: 72px;
  --space-800: 64px;
  --space-700: 56px;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
  --space-50: 4px;

  /* Layout */
  --container-max-width: 1110px;
  --container-padding: var(--space-200);
}